@model List<webBanCayTrong.Models.SanPham>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/quantri.css">

    <!-- Shotcut -->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/logo.png" />

    <!-- Font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">

    <!-- Icon google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Icon Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <title>Quản lý sản phẩm</title>
    <body>
        <div class="qlsp">
            <div class="top">
                <div class="left">
                    <h3>Quản trị hệ thống bán cây trồng Online</h3>
                    <h2>Cây giống Hoàng-Điệp-Lương</h2>
                </div>
                <div class="right">
                    <a href="#">
                        <span style="position: relative;top: 6px;" class="material-symbols-outlined">
                            account_circle
                        </span> admin
                    </a>
                </div>
            </div><br>
            <div class="logo">
                <img src="~/Content/img/logo.png" width="70px">
            </div>

            <div style="display: flex;">
                <h3 style="width: 50%;color: white;padding-top: 20px;">Danh sách sản phẩm</h3>
                <div style="width: 50%;">
                    <a href="~/QuanLy/ThemSP" style="float: right;color: white;font-size: 17px;position: relative;text-decoration: none;cursor: pointer;display: inline-block;top: 10px;">
                        <span style="position: relative;top: 6px;" class="material-symbols-outlined">add_circle</span>Thêm sản phẩm
                    </a>
                </div>
            </div>

            <input type="text" id="locSP" onkeyup="locSP()" placeholder="Lọc theo từ khóa...">
            <table class="dssp">
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá bán</th>
                </tr>

                <tbody id="sp">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="~/QuanLy/ChiTietQuanLySP/?id=@item.MaSP">@string.Format("{0:#,0}", item.MaSP)</a></td>
                            <td><a href="~/QuanLy/ChiTietQuanLySP/?id=@item.MaSP">@string.Format("{0:#,0}", item.TenSP)</a></td>
                            <td><a href="~/QuanLy/ChiTietQuanLySP/?id=@item.MaSP">@string.Format("{0:#,0}", item.GiaBan)</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="bot">
                <div class="left">
                    <p>Phát triển bởi HLSoft</p>
                </div>

                <div class="right">
                    <p>©Bản quyền thuộc về Cây giống Hoàng-Điệp-Lương</p>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <!-- Js -->
        <script src="~/Content/js/main.js"></script>
    </body>
</html>
