
@{
    ViewBag.Title = "Liên hệ trực tuyến";
}

<!-- Left -->
<div class="left">
    <div class="contact">
        <h3>Để lại ý kiến của bạn tại đây để giúp chúng tôi giải đáp mọi thắc mắc của bạn:</h3>
        <form action="">
            <label>Tên của bạn:</label><br>
            <input type="text" name="name"><br>
            <label>Số điện thoại:</label><br>
            <input type="text" name="phonenumber"><br>
            <label>Email:</label><br>
            <input type="mail" name="email"><br>
            <label>Ý kiến của bạn:</label><br>
            <textarea></textarea><br><br>

            <button type="submit">Gửi ngay</button>
        </form>
    </div>
</div>